#statusHud {
	width: 14.2%;
	position: absolute;
	bottom: 0.3%;
    left: 1.5%;
}

#varHealth {
	width: calc(30% - 2px - 4px);
	margin-left: 0px !important;
} 
#varArmor {
	width: calc(25% - 4px - 4px);
}

#varHealth > .barIcon,
#varArmor > .barIcon {
	width: 10%;
}

#varStress {
	margin-right: 0px !important;
}

#varHealth > #boxSetHealth {
	background-image: linear-gradient(-90deg, rgba(75, 165, 75, 0.5), rgba(41, 89, 41, 0.25));
    box-shadow: 0px 0px 1px rgba(75, 165, 75, 0.5);
}
#varArmor > #boxSetArmour {
	background-image: linear-gradient(-90deg, rgba(103, 105, 212, 0.5), rgba(48, 49, 94, 0.25));
    box-shadow: 0px 0px 1px rgba(103, 105, 212, 0.5);
}
#varHunger > #boxSetHunger {
	background-image: linear-gradient(-180deg, rgba(245, 212, 66, 0.5), rgba(245, 212, 66, 0.25));
    box-shadow: 0px 0px 1px rgba(245, 212, 66, 0.5);
}
#varThirst > #boxSetThirst {
	background-image: linear-gradient(-180deg, rgba(89, 148, 215, 0.5), rgba(33, 56, 82, 0.25));
    box-shadow: 0px 0px 1px rgba(89, 148, 215, 0.5);
}
#varOxygen > #boxSetOxygen {
	background-image: linear-gradient(-180deg, rgba(120, 72, 184, 0.5), rgba(40, 24, 61, 0.25));
    box-shadow: 0px 0px 1px rgba(120, 72, 184, 0.5);
}
#varStress > #boxSetStress {
    background-image: linear-gradient(-180deg, rgba(192, 59, 59, 0.5), rgba(192, 59, 59, 0.25));
    box-shadow: 0px 0px 1px rgba(192, 59, 59, 0.5);
}

.bar {
	border: 1px solid rgba(255,255,255,0.1)!important; 
    /*background-color: rgba(235, 235, 235, 0.05);  0,02 */
    background-color: rgba(0,0,0,0.35);
	width: calc(12.35% - 4px - 4px);
	height: 25.5px;
	float: left;
	margin-right: 2px;
    margin-left: 2px;
    z-index: 98;
}

#boxSetHealth, #boxSetArmour, #boxSetHunger, #boxSetThirst, #boxSetOxygen, #boxSetStress {
	width: 100%;
	height: 25.5px;
	position: relative;
	bottom: 0;
	z-index: 97;
}

.barIcon {
	width: calc(12.5% - 4px - 4px);
	height: 15.5px;
	padding-top: 5px;
	position: absolute;
	z-index: 99;
	opacity: 0.8;
}
