.character-container {
    display: none; /* set to none on upload */
    max-width: 1650px;
    margin: 0px auto;
}

.mr12 {
    margin-right: 12px;
}

.mr6 {
    margin-right: 6px;
}

.text-muted {
    text-transform: capitalize;
}

.pageHeader {
    margin-top: 10vh;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 1.8rem;
    color: #fff;
}

.characterIconContainer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.characterIcon {
    font-size: 3rem;
    color: #e0e0e0;
    text-align: center;
}

.infoIcon {
    font-size: 1rem;
    color: #b8b8b8;
    width: 22px;
}

.informativeText {
    color: #3b6dfb;
}

.card {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none;/* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    display: none;
    background-color: #fff;
    border: 1px solid rgb(50, 50, 50);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* 
.card:hover {
    cursor: pointer;
    background-color: #3b6dfb;
    box-shadow: 0 6px 36px 10px rgba(48, 86, 255, 0.534);
    color: #fff;
} */
/* 
.card:hover > .card-body > .text-muted {
    color: #fff!important;
}

.card:hover > .card-body > .characterIconContainer > i {
    color: #98b3ff!important;
}

.card:hover > .card-body > .list-unstyled > li > i {
    color: #98b3ff!important;
}

.card:hover > .card-body > .list-unstyled > li {
    color: #98b3ff!important;
}

.card:hover > .card-body > .list-unstyled > li > .informativeText {
    color: #fff!important;
} */

.card.chosen-character {
    color: #fff;
}

.card.chosen-character > .card-body > .text-muted {
    color: #fff!important;
}

.card.chosen-character > .card-body > .characterIconContainer > i {
    color: #98b3ff!important;
}

.card.chosen-character > .card-body > .list-unstyled > li > i {
    color: #98b3ff!important;
}

.card.chosen-character > .card-body > .list-unstyled > li {
    color: #98b3ff!important;
}

.card.chosen-character > .card-body > .list-unstyled > li > .informativeText {
    color: #fff!important;
}

.play-button {
    display: none;
    z-index: 1000;
    width: 100%;
    margin-top: 20px;
    font-weight: 300;
    font-size: 1.8rem;
    text-align: center;
    padding: 25px;
    color: #fff;
    background: rgba(18, 18, 18, 0.8);
    -moz-box-shadow:    inset 0 0 15px #000000;
    -webkit-box-shadow: inset 0 0 15px #000000;
    box-shadow:         inset 0 0 15px #000000;
}

.play-button:hover {
    z-index: 1000;
    cursor: pointer;
    background-image: linear-gradient(-90deg, rgba(114, 204, 45, 0.5), rgba(114, 204, 45, 0.4)) !important;
    background: rgba(18, 18, 18, 0.8);
    box-shadow: 0 0 8px #000000
}

.modal-content {
    border-radius: 2px;
    background-image: linear-gradient(180deg, rgba(10,10,10,1) 0%, rgba(15,15,15,1) 70%, rgba(17,17,17,1) 100%);
    color: #fff;
}

.modal-header {
    color: #fff;
}

.modal-body {
    color: #fff;
    text-align: center;
}

.delete-button {
    display: none;
    z-index: 1000;
    width: 100%;
    margin-top: 20px;
    font-weight: 300;
    font-size: 1.8rem;
    text-align: center;
    padding: 25px;
}

.delete-button:hover {
    z-index: 1000;
    cursor: pointer;
    background-image: linear-gradient(-90deg, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0.4)) !important;
    background: rgba(18, 18, 18, 0.8);
    box-shadow: 0 0 8px #000000;
}