#info-container {
  background: rgba(48, 48, 48,1);

  
}
#info-container .inner-app .info-header {
  width: 100%;
  padding: 5px;
  text-align: center;
  background: rgba(86,86,86,0.85);
  color: #fff;
  font-family: Helvetica;
  font-weight: bold;
  border-bottom: 1px solid #1e1e1e;
  font-size: 20px;
}

#info-container .inner-app .info-list {
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

#info-container .inner-app .info-list img{
  border: 1px solid ;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

#info-container .inner-app .info-list .entry {

  display: block;
  color: blue;
  background:rgba(48, 48, 48,1);
  padding: 10px 20px 5px 20px;
  
}

#info-container .inner-app .info-list .entry .entry-title {
  line-height: 20px;
  pointer-events: none;
  font-family: Helvetica !important;
  font-size: 20px;
  color: whitesmoke;

  text-align: left;
}

#info-container .inner-app .info-list .entry .entry-title-text {
  display: inline-block;
  left: 5%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  margin-top: 5px;
  font-family: Helvetica;
  font-size: 15px;
  width: 90%;
  max-height: 10%;
}

#info-container .inner-app .info-list .entry:hover {
  transition: all ease-in 0.3s;
  background: #949494;
}