#notas-container {
  background: rgba(48, 48, 48,1);
}
#notas-container .inner-app .notas-header {
  width: 100%;
  padding: 5px;
  text-align: center;
  background: rgba(86,86,86,0.85);
  color: #fff;
  font-family: Helvetica;
  font-weight: bold;
  border-bottom: 1px solid #1e1e1e;
  font-size: 20px;
}

#notas-container .inner-app .notas-list {
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

#notas-container .inner-app .notas-list img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

#notas-container .inner-app .notas-list .note {
  border: 1px solid #1e1e1e;
  display: block;
  color: blue;
  background: #fff;
  padding: 10px 20px 5px 20px;
}

#notas-container .inner-app .notas-list .note .note-title {
  line-height: 20px;
  pointer-events: none;
  font-family: Helvetica !important;
  font-size: 20px;
  color: whitesmoke;

  text-align: left;
}

#notas-container .inner-app .notas-list .note .note-title-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  font-family: Helvetica;
  font-size: 15px;
  width: 90%;
  max-height: 10%;
}

#notas-container .inner-app .notas-list .note:hover {
  transition: all ease-in 0.3s;
  background: #949494;}

#notas-container .inner-app .notas-list .note .note-actions {
  z-index: 998;
  padding: 5px;
  display: none;
  color:black;
}
#notas-container .inner-app .notas-list .note .note-actions i {
  width: 25%;
  text-align: center;
  font-size: 15px;
  pointer-events: auto;
}
#notas-container .inner-app .notas-list .note .note-actions i:hover {
  transition: all ease-in 0.30s;
  color: red;
}
#notas-container .inner-app .notas-list .note .note-actions i.action-disabled {
  color: #3f3f3f !important;
}
#notas-container .inner-app .notas-list .note .note-actions i.action-disabled:hover {
  color: #3f3f3f !important;
}

#notas-container .inner-app .notas-header .fa-plus-circle {
  position: absolute;
  right: 5%;
  font-size: 20px;
  line-height: 34px;
}

#notas-container .inner-app .notas-list .note .note-actions .fa-trash-alt {
  position: absolute;
  right: 5%;
  font-size: 20px;
  line-height: 34px;
}